
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="main-page" padding>

    <ion-grid style="height:60px;">
      <ion-row>
        <ion-col>
        <img class="page-image" src="assets/imgs/rights_white2.png">
        </ion-col>
        <ion-col>
        <h1 class="pagetitle"> Your Rights </h1>
      </ion-col>
      </ion-row>
    </ion-grid>
  
  <ion-card  *ngFor="let right of rights;let i = index" (click)="goTo(i)" tappable>
      <!-- [ngClass]="changeColor" -->
    <ion-item  style="height:70px;">
      
      <button class="btn" ion-button icon-only clear item-left>
        <img class="icons" [src]="right.imgsrc">
      </button>

      <p class="card-title" [innerHTML]="right.title"></p>

    </ion-item>


  </ion-card>


</ion-content>
