page-your-rights {

    ion-card{

        margin-bottom:20px !important;
        height:90px;

        border-radius: 20px 20px 20px 20px !important;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;

        
    }


    ion-grid{
        margin-top:10px;
        margin-bottom:10% !important;
        margin-left:-10px !important;
    }
    

    .white{
        background-color: white;
        
    }

    .green{
        background-color: green;
    }

    .icons{
        
         padding-top: 17px;
         padding-left:2px;

        // height:35px !important;
        // width:35px !important
    }


    .img-go{
        
        padding-top: 10px !important;
    }

    .btn{
        height:50px !important;
    }

        
    .card-title{
        // font-size: 1.2rem;
        color: green;
        
        font-size:15px;
        text-align: left;
        font-weight: bold;
        margin-top: 15px !important;
        margin-left: 5px;
    }

    .pagetitle{
        text-align: left;
        color: white;
        padding-top:10px;
        padding-bottom: 20px;
        font-size:3.5rem;
        margin-left: -35% !important;
    }

    .page-image{
        height: 6vh;
        width: auto;
        margin: auto;
        display: block;
        
      }
    

}
