page-offices {

     .pagetitle{
        text-align: center !important;
        color: white;
        padding-top:40px;
        padding-bottom: 40px;
        font-size:3.2rem;
    }

     ion-card{

        border-radius: 20px 20px 20px 20px !important;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;

        text-align:center;

        margin-bottom:20px !important;
        //height:90px;
    }
    .card-title{
        // font-size: 1.2rem;
        color: green;
        text-align:center !important;
        
        font-size:15px;
        text-align: left;
        font-weight: bold;
        margin-top: 15px !important;
        margin-left: 5px;
    }

    .btn{
        border-radius: 10px 10px 10px 10px !important;
        background-color:#58AA2E !important;
        color: white
    }

    

}
