
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
<ion-content class="main-page" padding>

        <h1 class="pagetitle"> Contact Us </h1>
    
    <ion-card class="center-text" *ngFor="let office of offices;let i = index">
      <ion-card-title class="card-title">
          {{office.focalperson}}
      </ion-card-title>
      
      <ion-card-content>
        <p>{{office.address}} </p>
        <button class="btn" ion-button icon-only  (click)="callNum(i);">
          <ion-icon name="call"></ion-icon>
        </button>

        <button class="btn" ion-button icon-only  (click)="sendSMS(i);">
            <ion-icon name="text"></ion-icon>
        </button>

        <!-- <button class="btn" ion-button icon-only  (click)="sendEmail(i);">
          <ion-icon name="mail"></ion-icon>
        </button> -->

          <!-- <div style="display: inline-block;">
              <img src={{i.avatar}}>
          </div> -->
      </ion-card-content>

    </ion-card>

</ion-content>
