<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="main" padding>

  <h1 class="page-title-rights"> Redd<sup>+</sup></h1>
  <ion-grid class="grids">
    <ion-row>
      <ion-col>
        <ion-card (click)="goToRights()">


          <img src="assets/imgs/rights.svg">

          <ion-card-content>

            <h3>YOUR RIGHTS</h3>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card (click)="goToGrievance()">


          <img src="assets/imgs/grievance.png">


          <ion-card-content>
            <h3>LODGE GRIEVANCE</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="gotToFAQs()">

          <img src="assets/imgs/FAQ1.svg">


          <ion-card-content>
            <h3>
              F.A.Q
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToContact()">


          <img src="assets/imgs/Contact1.svg">

          <ion-card-content>
            <h3>
              CONTACT US
            </h3>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- <ion-card *ngFor="let tree of trees">
          <img class="card-image" [src]="tree.imgsrc"/>
          <ion-card-content class="card-content">
            <ion-card-title>
              {{tree.title}}
            </ion-card-title>
            <p>
              {{tree.description}}
            </p>
          </ion-card-content>
        </ion-card> -->
</ion-content>
