page-home {

    .card-image
    {
        height:200px;
        
        
    }

    .page-title-rights{
        text-align: center;
        color: white;
        padding-top:40px;
        padding-bottom: 20px;
        font-size:3.2rem;
    }

    h3{
       
        color: green !important;
        text-align:center;
        
        font-size:17px !important;
        font-weight: bold !important;
        margin-top: 5px !important;
        //margin-left: 5px;
    }
    
    ion-card{
      
        margin-bottom: 15px !important;

        border-radius: 20px 20px 20px 20px !important;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;

        width:100px;
        height:150px;

    }

    .grids{

    height: 80% !important;
    padding-top:  10%;

    }

    img{
        height: 60px;;
        width: auto;;
        margin: auto;
        display: block;
        margin-top: 10px;
        
      }




}
