// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.main{
    //background-color: green;
    background-image: url('../assets/imgs/bg.png')
    
    
}

.main-page{
    //background-color: green;
    background-image: url('../assets/imgs/bg.jpg')
    
    
}
.back-button-icon-md {
    background-color: transparent !important;
  }

  ion-card{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
  }

.page-title{
    text-align: center;
    color: white;
    padding-top:40px;
    padding-bottom: 40px;
    font-size:3.2rem;
}


@font-face {
    font-family: Attari_Quraan_Word;
    src: url(../assets/fonts/attari_quraan_word.ttf) format("ttf");
    font-weight: 200
    }

    @font-face {
        font-family: Roboto_Regular;
        src: url(../assets/fonts/roboto-regular.ttf) format("ttf");
        font-weight: 200
        }

    ion-card-title {
        font-family: Roboto_Regular !important;
    }


    .title{
        color:green !important;
    }

    

    



