page-contact-us {

    .button
    {
        margin-top: 15px !important;
        float: right !important; 
        background-color:#FECB00;

        width:100px;

        color:black !important;

        border-radius: 5px 5px 5px 5px !important;

        -webkit-box-shadow: 0px 0px 20px 0px inset rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px inset rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px inset rgba(0,0,0,0.2) !important;
        //margin-right: 10% !important;   
    }

    ion-label{
        color: green;
        //margin-left:10px;
        font-size: 15px;
        font-weight: bold !important;
    
    }

    ion-grid{
        margin-top:10px;
        margin-bottom:10% !important;
        margin-left:-10px !important;
    }
    h1:first-child{
        margin-top:0px !important;
    }

    .pagetitle{
        text-align: left;
        color: white;
    
        font-size:3.5rem;
        margin-left: -35% !important;
    }

    .page-image{
        height: 6vh;
        width: auto;
        margin: auto;
        display: block;
        
      }

      .error {
        color: rgb(223, 62, 62);
        font-size: 15px;
        margin-top: 5px !important;

      }
    
      .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }
    


    ion-item{  
        top: 20px;
         border-radius: 10px;
         width: 350px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 20px !important;
        background-position:right;
        background-size: 45px;
        background-repeat:no-repeat;
        margin-bottom: 10px;

        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;

        .input:FOCUS{
            color: rgb(155, 102, 102) !important;
            }

}

    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
        color: green !important; 
}

.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked]{
    color: green !important; 
}
.item-input .label-md{
        color: green !important; 
}

.item-ios{
    color: green !important;
}

    .textfield{
    
        height: 40px;
        width: 90%;
        
        background-color: transparent;
        border-bottom: solid #eeeeee 2px;

        border: solid #000000 2px !important;
            
    }

    .address-field{

        background-color: transparent;
        border-bottom: solid #eeeeee 2px;
    }
}
