
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="main-page" padding>

    <ion-grid>
        <ion-row>
          <ion-col>
          <img class="page-image" src="assets/imgs/grievance_white.png">
          </ion-col>
          <ion-col>
          <h1 class="pagetitle"> Grievance </h1>
        </ion-col>
        </ion-row>
      </ion-grid>

    <form novalidate (ngSubmit)="submit()" [formGroup]="signupform">
      <ion-item>
        <ion-label stacked>Full Name</ion-label>
        <ion-input formControlName="fullname" [(ngModel)]="userData.fullname" type="text"></ion-input>
      </ion-item>

      <div no-lines *ngIf="( signupform.get('fullname').hasError('minlength') || signupform.get('fullname').hasError('maxlength') ||signupform.get('fullname').hasError('pattern') ||signupform.get('fullname').hasError('required') ) && signupform.get('fullname').touched">
          <div class="error" *ngIf="signupform.get('fullname').hasError('required') && signupform.get('fullname').touched">
            Please enter your name
          </div>
          <div class="error" *ngIf="signupform.get('fullname').hasError('minlength') && signupform.get('fullname').touched">
            Please enter minimum 4 characters
          </div>
          <div class="error" *ngIf="signupform.get('fullname').hasError('maxlength') && signupform.get('fullname').touched">
            Maximum 30 characters are allowed
          </div>
          <div class="error" *ngIf="signupform.get('fullname').hasError('pattern') && signupform.get('fullname').touched">
            Please use alphabet character
          </div>
        </div>

      <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input formControlName="address" [class.error1]="!signupform.controls.address.valid && signupform.controls.address.dirty" [(ngModel)]="userData.address" type="text"></ion-input>
      </ion-item>

      <div no-lines *ngIf="( signupform.get('address').hasError('minlength') || signupform.get('address').hasError('maxlength') ||signupform.get('address').hasError('pattern') ||signupform.get('address').hasError('required') ) && signupform.get('address').touched">
        <div class="error" *ngIf="signupform.get('address').hasError('required') && signupform.get('address').touched">
          Please enter your address
        </div>
        <div class="error" *ngIf="signupform.get('address').hasError('minlength') && signupform.get('address').touched">
          Minimum 4 characters are allowed
        </div>
        <div class="error" *ngIf="signupform.get('address').hasError('maxlength') && signupform.get('address').touched">
          Maximum 30 characters are allowed
        </div>
        <div class="error" *ngIf="signupform.get('address').hasError('pattern') && signupform.get('address').touched">
          Please enter valid address
        </div>
      </div>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty" [(ngModel)]="userData.email" type="email"></ion-input>
      </ion-item>

      <div no-lines *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
          <div class="error" *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
            Please input your email
          </div>
          <div class="error" *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
            Email address invalid
          </div>
        </div>

      <ion-item>
        <ion-label stacked>Contact</ion-label>
        <ion-input formControlName="contact" [class.error1]="!signupform.controls.contact.valid && signupform.controls.contact.dirty" [(ngModel)]="userData.contact" type="tel"></ion-input>
      </ion-item>

      <div no-lines *ngIf="( signupform.get('contact').hasError('minlength') || signupform.get('contact').hasError('maxlength') ||signupform.get('contact').hasError('pattern') ||signupform.get('contact').hasError('required') ) && signupform.get('contact').touched">
          <div class="error" *ngIf="signupform.get('contact').hasError('required') && signupform.get('contact').touched">
              Please Enter your Mobile No
            </div>
            <div class="error" *ngIf="signupform.get('contact').hasError('minlength') && signupform.get('contact').touched">
              Mobile No must have 11 Alpha Numberics
            </div>
            <div class="error" *ngIf="signupform.get('contact').hasError('maxlength') && signupform.get('contact').touched">
                Mobile No must have 11 Alpha Numberics
            </div>
            <div class="error" *ngIf="signupform.get('contact').hasError('pattern') && signupform.get('contact').touched">
              Just Alpha Numberics are allowed without space
            </div>
          </div>

      <ion-item>
        <ion-label stacked>Identity Card</ion-label>
        <ion-input formControlName="identitycard" [class.error1]="!signupform.controls.identitycard.valid && signupform.controls.identitycard.dirty" [(ngModel)]="userData.identitycard" type="tel"></ion-input>
      </ion-item>

      <div no-lines *ngIf="( signupform.get('identitycard').hasError('minlength') || signupform.get('identitycard').hasError('maxlength') ||signupform.get('identitycard').hasError('pattern') ||signupform.get('identitycard').hasError('required') ) && signupform.get('identitycard').touched">
          <div class="error" *ngIf="signupform.get('identitycard').hasError('required') && signupform.get('identitycard').touched">
              Please Enter your Identity Card No
            </div>
            <div class="error" *ngIf="signupform.get('identitycard').hasError('minlength') && signupform.get('identitycard').touched">
              Identity Card No  must have 11 Alpha Numberics
            </div>
            <div class="error" *ngIf="signupform.get('identitycard').hasError('maxlength') && signupform.get('identitycard').touched">
              Identity Card No must have 11 Alpha Numberics
            </div>
            <div class="error" *ngIf="signupform.get('identitycard').hasError('pattern') && signupform.get('identitycard').touched">
              Just Alpha Numberics are allowed without space
            </div>
          </div>

      <ion-item class="input"> 
        <ion-label floating>Category Grievances</ion-label>
        <ion-select formControlName="complaintcat" [class.error1]="!signupform.controls.complaintcat.valid && signupform.controls.complaintcat.dirty" [(ngModel)]="userData.complaintcat">
            <ion-option value="Participation">Participation</ion-option>
            <ion-option value="Land tenure and forest resources">Land tenure and forest resources</ion-option>
            <ion-option value="Rights of tribal populations and native communities">Rights of tribal populations and native communities</ion-option>
            <ion-option value="Distribution of benefits">Distribution of benefits</ion-option>
          </ion-select>
      </ion-item>

      <div no-lines *ngIf="( signupform.get('complaintcat').hasError('complaintcat') || signupform.get('complaintcat').hasError('maxlength') ||signupform.get('complaintcat').hasError('pattern') ||signupform.get('complaintcat').hasError('required')) && signupform.get('complaintcat').touched">
        <div class="error" *ngIf="signupform.get('complaintcat').hasError('required') && signupform.get('complaintcat').touched">
            Please Select Grievance Category
          </div>
          <div class="error" *ngIf="signupform.get('complaintcat').hasError('minlength') && signupform.get('complaintcat').touched">
            Please Enter Minimum 01 characters
          </div>
          <div class="error" *ngIf="signupform.get('complaintcat').hasError('maxlength') && signupform.get('complaintcat').touched">
              Please Enter Maximum 100 characters
        </div>
          
    </div>



      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="desc" [class.error1]="!signupform.controls.desc.valid && signupform.controls.desc.dirty" [(ngModel)]="userData.desc" rows="5" type="text"></ion-textarea>
      </ion-item>
      

      <div no-lines *ngIf="( signupform.get('desc').hasError('minlength') || signupform.get('desc').hasError('maxlength') ||signupform.get('desc').hasError('pattern') ||signupform.get('desc').hasError('required')) && signupform.get('desc').touched">
          <div class="error" *ngIf="signupform.get('desc').hasError('required') && signupform.get('desc').touched">
              Please Enter Description
            </div>
            <div class="error" *ngIf="signupform.get('identitycard').hasError('minlength') && signupform.get('identitycard').touched">
              Please Enter Minimum 04 characters
            </div>
            <div class="error" *ngIf="signupform.get('identitycard').hasError('maxlength') && signupform.get('identitycard').touched">
                Please Enter Minimum 04 characters
          </div>
            
      </div>

        

      
      <button type="submit" ion-button block [disabled]="signupform.invalid">Submit</button>

    </form>
        
  
    
</ion-content>
