page-description {

    ion-card{
        
        margin-top:20% !important;

        border-radius: 20px 20px 20px 20px !important;
        
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
    }

    ion-card-title{

        text-align:center;
        color: green !important;
        font-weight: bold;
        margin-top:5px !important;
        margin-bottom: 15px !important
    }

    p{
        text-align:center;
        
        font-size: 17px !important;
        
        margin-bottom: 15px !important;

        white-space: pre-line;

    }

}
