page-select-language {

    .card-title{
        // font-size: 1.2rem;
        color: green;
        text-align:center;
        margin-top: 3% !important;
       
        font-size:3.2rem;
    }

    .pagetitle{
        text-align: center;
        color: white;
        padding-top:40px;
        //padding-bottom: 40px;
        font-size:3.2rem;
    }

    .main-card{
        border-radius: 20px 20px 20px 20px !important;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        
        // padding-top:20px;
        height:80%;

        margin-top:20px !important;
        

    }

    .subcard{
        
        border-radius: 20px 20px 20px 20px !important;
        // -webkit-box-shadow: 0px 0px 20pt black;
        // -moz-box-shadow: 0px 0px 20pt black;
        box-shadow: 0px 0px 20pt black;
        padding-top:10px;
        
        background-color: yellow;
        width:100px;
        height: 90px;

    }

    .submit-btn
    {
        // margin-top: 15px !important;
        text-align: center; 
        background-color: color($colors,primary,base)
        // margin-right: 10% !important;   
    }

    .row {
        text-align: center;
        padding-bottom: 20px;
    }
    
    .button-eng {
        
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        //margin-top: 10% !important;
       
        width: 90px;
        height:90px;
        text-align: center;
       

        background-image: url('../assets/imgs/English2.png');
        background-color: transparent !important;

        color:transparent !important;
        border-radius: 29px 29px 29px 29px !important;
    }

    .button-eng.active{
        color:none !important;
    }
    
    .button-urdu {
            
        margin-left: auto;
    margin-right: auto;
    display: block !important;
        
        width: 90px;
        height:90px;
        text-align: center;
        margin-top: 5% !important;

        background-image:url('../assets/imgs/urdu2.png');
        background-color: transparent !important;
        color:transparent !important;

        border-radius: 29px 29px 29px 29px !important;
    }

    .button-urdu.active{
        color:none !important;
    }

    img{
        
        width: auto;
        margin: auto;
        display: block;
        margin-top: 0px;
        
      }

}
