
<ion-content class="main" padding>
  
  <h1 class="pagetitle"> Know Your Rights </h1>
  
  <ion-card class="main-card" padding>
      
          <!-- <ion-card-header> -->
              <ion-avatar center>
                <img src="assets/imgs/speaker2.png">
              </ion-avatar>
            <!-- </ion-card-header> -->
      <ion-card-title class="card-title">
        Select Language
      </ion-card-title>
      
      <div class="row">
        <button class="button-urdu" ion-button (click)="goUrdu()"></button>
      </div>

      <div class="row">
        <button class="button-eng" ion-button (click)="goEng()"></button>
      </div>
    
  </ion-card>
  
</ion-content>
