#content {
    position: relative;
    // margin-top: auto;
    background-color: green;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    /* padding-top:200px; */
        height: 150px;
      width: 100%;
      display: block;
      margin-top: 100px;
      //z-index: 0 !important;

  }
  
  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2 !important;
    text-align: center;
  }
  
  #profile-image {
    display: block;
    border-radius: 120px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  }