
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="main-page" padding>

  <ion-grid style="height:60px;">
    <ion-row>
      <ion-col>
      <img class="page-image" src="assets/imgs/faq_white2.png">
      </ion-col>
      <ion-col>
      <h1 class="pagetitle"> F.A.Q </h1>
    </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div class="row">
    <img class="page-image" src="assets/imgs/faq_white2.png">
    <h1 class="pagetitle"> F.A.Q </h1>
  </div> -->
  <ion-card *ngFor="let faq of faqs;let i = index" (click)="goTo(i)" tappable>

      <h2 [innerHTML]="faq.title"></h2>

  </ion-card>

</ion-content>
