page-faq {

    ion-card{

        margin-bottom:20px !important;
        height:90px;

        border-radius: 20px 20px 20px 20px !important;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2) !important;
        
    }

    ion-grid{
        margin-top:10px;
        margin-bottom:10% !important;
        margin-left:-10px !important;
    }

    h2{
        
        color: green !important;
        text-align:center;
        font-weight: bold !important;
        margin-top: 35px !important;
        margin-left: 5px !important;
    }



    .pagetitle{
        text-align: left;
        color: white;
        padding-top:10px;
        padding-bottom: 20px;
        font-size:3.5rem;
        margin-left: -35% !important;
    }

    // img{
    //     height: 6vh;
    //     width: auto;
    //     margin: auto;
    //     display: block;
    //     //padding-top: 15px;
        
    //   }

      .page-image{
        height: 6vh;
        width: auto;
        margin: auto;
        display: block;
        
      }



}
